.body1 {
    background-image:url('images/homepaper.jpg');
    background-size: cover;
    padding:0px;
    margin:0px;
}
/*========================HEADER=======================*/

nav {
    display:flex;
    flex-direction: row;
    background-color: rosybrown;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    padding:5px;
}
#social img {
    height:40px;
    width:40px;
}
#social img:hover {
    transform: scale(1.4);
    transition: all .5s;
}

.navnav {
        animation-name: pulse;
        animation-timing-function: linear;
        animation-duration: 1s;
        color: royalblue;
}

a {
    color:rgb(122, 44, 44);
}
/*===================Accueil=============*/
.ah1 { 
    font-family: 'PT Serif', serif;
    text-align:center;
}
.space {
    background: linear-gradient(to right, #43c6ac, #f8ffae);    
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content:center;
    height: 500px;

} 

.home{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.space1 {
    width:100px;
    height:150px;
}

.spacenew {
    margin:20px;
    background: linear-gradient(to right, #c9ffbf, #ffafbd); 
    flex-basis:15%;
    text-align:center;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    height:650px;

}
.spacenew:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.imgdivnew {
    height:400px;
    width: 100%;
    background-color: rgba(255,255,255, 0.7)
}

.homeh1 {
    font-family: 'PT Serif', serif;
}

.homeh1:hover {
    animation-name: swing;
    animation-timing-function: linear;
    animation-duration: 1s;
}

/*============================FOOTER====================================*/

.footaccueil:hover {
    transform: scale(1.5);
    transition: all .5s;
}

nav,.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to right, #ffeeee, #ddefbb);
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    font-family: 'PT Serif', serif;
    font-size:20px;
    border: 3px solid grey;
    border-radius: 5px;
    border-collapse: collapse;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-flex;
  }

/*============================MHA====================================*/
.mhabod {
    background-image: url('images/wallpaper.png');
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
}

.mhadiv {
    display:block;
    margin:auto;
    width:800px;
    height:600px;
    background-color : rgba(200,200,200, 0.8);
    border-radius: 12px;
    text-align: center;
    font-family: 'Jomolhari', serif;

}

.mharticlediv {
    width: 60%;
    margin:0 auto;
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 12px;
}
.mhavideos {
    display:flex;
    flex-direction: column;
    float: right;
    height:800px;
    margin-top:-750px;
    margin-right: 10px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 12p;
    overflow-y: scroll;
}

.videos {
    display:flex;
    flex-direction: row;
    margin:10px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 12px;
}

.arrow {
    position:relative;
    width:100px;
    height:100px;
    top: 100px;
}

.vid {
    margin:20px
}

/*============================Cartoon====================================*/
.carbod {
    background-image:url('images/cartonpaper.png');
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    padding:0px;
    margin: 0px;
}
.carticlediv{
    width: 60%;
    margin:0 auto;
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 12px;
}
.carvideos {
    display:flex;
    flex-direction: column;
    float: right;
    height:800px;
    margin-top:-850px;
    margin-right: 10px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 12px;
    overflow-y: scroll;

}
.carticlediv {
    width: 60%;
    margin:0 auto;
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 12px;

}
.cardiv {
    display:block;
    margin:auto;
    width:800px;
    height:100%;
    padding: 5px, 0px;
    background-color : rgba(200,200,200, 0.8);
    border-radius: 12px;
    text-align: center;
    font-family: 'Jomolhari', serif;
}


.stevtooltip {
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 200px;
    background-color: royalblue;
    font-size:20px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    padding:5px;
    top: -5px;
    left: 15%;
    font-family: 'Nunito Sans', sans-serif;
}
.stevtooltext1 {
    position:relative;
    left:30px;
    background-color: royalblue;
    font-family: 'Nunito Sans', sans-serif;
}
.stevtooltext1:hover {
    visibility:hidden;
}

.stevtooltip:hover, .stevtooltext1  {
     visibility: visible;
    }

/*============================ANIMATIONS====================================*/

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}





/*============================Art Martiaux====================================*/

#titreartmartiaux{
  background-color: white ;
  float: right ;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, orange, black, yellow);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}



.bodynaruto{
    margin-top: 10% ;
    background-image: url("photo/backnaruto.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.presentationnaruto {
    width: 40%;
    margin-top: 10% ;
    padding-left: .5rem;
    margin-left: 15%;
    float: left;
    text-align: center;
    box-shadow: inset 10px 0 10px -5px black;
    font-style: italic;
    color: #29627e;
}

.presentationnaruto> p {
    color: orangered ;
    margin: 5% ;
    animation-name: slidein ;
    animation-duration: 2s ;
}

.videonaruto{
    display: flex;
    margin-top: 5% ;
    margin-bottom: 5% ;
}

.videonaruto > a{
    color: black ;
}

#titreepisodenaruto{
    animation: inherit;
    margin: auto;
    background: rgba(0,0,0,.75);
    padding: 3%;
}

#episodenaruto{
    width: 400px ;
    height: 50px ;
    text-align: center;
    margin-left: 33% ;
    font-family: monospace ;
    font-size: 20px ;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 5s infinite;
    background-color: currentColor;
}

@supports (background-blend-mode: overlay;){
    #episodenaruto{
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;

    }
}




#titreimagenaruto{
    animation: inherit;
    margin: auto;
    background: rgba(0,0,0,.75);
    padding: 3%;
}

#imagenaruto{
    width: 400px ;
    height: 50px ;
    text-align: center;
    margin-left: 33% ;
    font-family: monospace ;
    font-size: 20px ;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 10s infinite;
    background-color: currentColor;
}

@supports (background-blend-mode: overlay;){
    #imagenaruto{
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;

    }
}

.gifnaruto{
    margin-top: 5% ;
    margin-left: 5% ;
}

.bodyopm{
    background-image: url("photo/backopm.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.presentationopm {
    width: 40%;
    margin-top: 10% ;
    padding-left: .5rem;
    margin-left: 15%;
    float: left;
    text-align: center;
    box-shadow: inset 10px 0 10px -5px black;
    font-style: italic;
    color: #29627e;
}

.presentationopm> p {
    color: black ;
    margin: 5% ;
    animation-name: slidein ;
    animation-duration: 2s ;
}

.videoopm{
    display: flex;
    margin-top: 5% ;
    margin-bottom: 5%; 
}

.videoopm > a{
    color: white ;
}

#titreepisodeopm{
    animation: inherit;
    margin: auto;
    background: rgba(0,0,0,.75);
    padding: 3%;
}

#episodeopm{
    width: 400px ;
    height: 50px ;
    text-align: center;
    margin-left: 33% ;
    font-family: monospace ;
    font-size: 20px ;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 10s infinite;
    background-color: currentColor;
}

@supports (background-blend-mode: overlay;){
    #episodeopm{
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;

    }
}

#titregifopm{
    animation: inherit;
    margin: auto;
    background: rgba(0,0,0,.75);
    padding: 3%;
}

#imageopm{
    width: 400px ;
    height: 50px ;
    text-align: center;
    margin-left: 33% ;
    font-family: monospace ;
    font-size: 20px ;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 10s infinite;
    background-color: currentColor;
}

@supports (background-blend-mode: overlay;){
    #imageopm{
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;

    }
}

.gifopm{
    margin-top: 5% ;
    margin-left: 5% ;
}

#titresuggestioncat3{
    text-align: center;
}


.suggestioncat3{
    background-color: red;
    display: flex;
    padding-left: 10% ;
}





/*============================FILM====================================*/

.bodykiminonawa{
    background-image: url("photo/backkiminonawa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.presentationfilm1{
    margin-top: 10% ;
}

#imgfilm1{
    margin-left: 40% ;
}

.synopsiskiminonawa{
    border-style: solid;
    border-width: 4px ;
}

.synopsiskiminonawa > p{
    animation-name: slidein ;
    animation-duration: 3s ;
    text-align: center;
}

#titrebakiminonawa{
    text-align: center;
    font-size: 30px;
}

.bakiminonawa {
    display: flex;
    width: 64% ;
    margin-left: 20% ;
    border-style: dashed;
    border-width: 6px
}

#titreimgkiminonawa{
    text-align: center;
    font-size: 30px ;
}

#extraitfilm1{
    text-align: center;
    font-size: 30px ;
}

.filmkiminonawa{
    margin-left: 30% ;
}

.bodysilentvoice{
    background-image: url("photo/backsilentvoice.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#photofilm2{
    margin-left: 40% ;
}

.synopsissilentvoice > p{
    text-align: center;
    border-style: solid;
    border-width: 4px ;
        animation-name: slidein ;
    animation-duration: 3s ;
}

#titrebasilentvoice{
    text-align: center;
}

.basilentvoice{
    margin-left: 20%;
}

#titreimgsilentvoice{
    text-align: center;
    font-size: 30px ;
}

#extraitfilm2{
    text-align: center;
    font-size: 30px ;
}

.filmsilentvoice{
    margin-left: 30%;
}

#suggestion{
    text-align: center;
    font-size: 30px ;
}

.suggestionfilm{
    background-color: turquoise ;
    padding-left: 15%;
}
